<footer>
    <div class="footer-container">
        <div class="footer-container-favicon">
            <a href="{{ '/hanankhairultamama/' | relative_url }}"><img class="footer-favicon" src="{{ '/favicon.ico' | relative_url }}"></a>
        </div>
        <div class="footer-container-social">
            <a href="https://www.instagram.com/hanankhtm/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.medium.com/@hanankhairult/"><i class="bi bi-medium"></i></a>
            <a href="https://www.linkedin.com/in/hanankhairultamama"><i class="bi bi-linkedin"></i></a>
            <a href="mailto:hanankhairult.work@gmail.com"><i class="bi bi-envelope"></i></a>
        </div>
    </div>
</footer>
