<div class="header-container">
    <header id="header-container-whole">
        <div class="header-author"><a href="/">Hanan Khairul Tamama</a></div>
        <div class="header-description"><a href="/">Rampaian Kisah yang Tak Perlu Dikesah</a></div>
        <div id="header-link" class="header-link">
            <li><a href="/">Rampaian Kisah</a></li>
            <li><a href="/tentang-saya">Tentang Saya</a></li>
        </div>
        <div class="header-button" onclick="myFunction()"><i class="bi bi-caret-down-fill"></i></div>
    </header>
</div>
