---
layout: seo
---
<div class="linktr-cont">
    <div class=auth-imgcont> <img src="{{ '/assets/images/author.jpg' | relative_url }}"> </div>
    <h1> Hanan Khairul Tamama </h1>
    <p> 'This must be Thursday,' said Arthur to himself, sinking low over his beer. 'I never could get the hang of Thursdays.' <br><br> - Ernest Hemingway - </p>
    <div class="media">
        <a href=""> <i class="bi bi-linkedin"></i></a>
        <a href=""> <i class="bi bi-medium"></i></a>
        <a href=""> <i class="bi bi-instagram"></i></a>
    </div>
    <button>
        <div class=imgg><img src="https://hmsejarah.fib.undip.ac.id/"></div>
        <a class="a" href="https://hmsejarah.fib.undip.ac.id/saya-kecewa-sekarang-puisi-lebih-lekat-dengan-vicky-prasetyo-ketimbang-widjie-goenawan-atau-damono/">Opini - Puisi Masa Kini</a>
    </button>

    </a> </button>
</div>


<style>
    body {
        background-color: #2e2e2e;
        display: block;
        margin: 0px auto 0px auto;
        max-width: 500px;
    }
    .linktr-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 20px 0px 20px;
    }
    .auth-imgcont {
        width: 125px;
        justify-self: center;
    }
    img {
        width: 100%;
        border-radius: 100%;
    }
    h1 {
        text-align: center;
        font-family: 'helvetica', 'sans-serif';
        font-size: 25px;
        color: whitesmoke;
        margin-top: 15px;
    }
    p {
        text-align: center;
        font-family: 'roboto', 'sans-serif';
        font-size: small;
        color: whitesmoke;
        margin-top: 0px;
    }
    .media {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .media i{
        color: whitesmoke;
    }
    .a {
        color: #2e2e2e;
        font-family: 'roboto', 'sans-serif';
        font-size: 20px;
        font-weight: medium;
    }
    button {
        border: 10;
        width: 400px;
        height: 75px;
        margin: 0px 20px 0px 20px;
    }
    .imgg {
        width: 25px;
    }
</style>